.lista-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap; /* para mejorar visualización en pantallas pequeñas */
}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Línea separadora entre columnas */
.columna-peliculas {
  padding-right: 2rem;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.columna-series {
  padding-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

.card {
  cursor: pointer;
  text-align: center;
  background-color: #ffe6f0;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

h2 {
  font-size: 35px; 
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
}
