<div class="header-bar">
  <div class="logo-container" (click)="goToHome()" style="cursor: pointer;">
  <img src="assets/logo.png" alt="Logo" class="logo-img">
  <span class="logo-text">WatchTrack</span>
</div>


  <!-- Buscador -->
 <form (submit)="onSearch()" class="search-form">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    name="searchQuery"
    placeholder="Buscar..."
    class="search-input"
  />
  <button mat-icon-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
</form>


  <!-- Menú de usuario -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="goToPerfil()">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item (click)="goToLista()">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Mi lista</span>
    </button>
    <button mat-menu-item (click)="goToHome()">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</div>
