.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #e88c8c;
  height: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Logo */
.logo-text {
  font-weight: 500;
  font-size: 250%;
  color: white;
  text-decoration: none;
}

/* Formulario de búsqueda */
.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.search-box {
  width: 200px;
  background-color: white;
  border-radius: 4px;
}

.search-box .mat-form-field-outline {
  border-radius: 8px;
}

.search-box .mat-form-field-flex {
  background-color: white;
  border-radius: 8px;
}

/* Ícono del usuario */
.user-icon {
  color: white;
}
.search-input {
  padding: 6px 10px;
  border: none;
  border-radius: 30px;
  height: 36px;
  width: 200px;
  font-size: 14px;
}

.search-button {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 18px;
  height: 36px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  height: 75px;
  width: auto;
}
