:root {
    --primary-color: #f8bbd0; /* Rosa pastel */
    --secondary-color: #f48fb1;
    --text-color: #333;
    --background-color: #fff0f5; /* Fondo general suave */
  }
  
  html, body {
  background-image: url('/assets/images/fondo.png');
  background-size: cover; /* ajusta para cubrir toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* permanece al hacer scroll */
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif; /* o el que uses */
}

  
  /* Centrado de las tarjetas (formularios) */
  .center-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  /* Personaliza las tarjetas */
  mat-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Botones */
  button {
    width: 100%;
    margin-top: 3px;
  }
  
  /* Inputs */
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  
  