<header class="header-bar">
<div class="logo-container" routerLink="/inicio" style="cursor: pointer;">
  <img src="assets/logo.png" alt="Logo" class="logo-img" />
  <span class="logo-text">WatchTrack</span>
</div>

  <span class="welcome-text">Bienvenido a tu espacio para seguir tus películas y series favoritas.</span>

  <div class="auth-buttons">
    <button mat-raised-button color="primary" (click)="irALogin()">Iniciar Sesión</button>
    <button mat-raised-button color="accent" (click)="irARegistro()">Regístrate</button>
  </div>
</header>